## Data
Being able to easily load and process data is a crucial task that can make any data science more pleasant. In this notebook, we will cover most common types often encountered in data science tasks, and we will be using this data throughout the rest of this tutorial.

In [3]:
#using BenchmarkTools
using DataFrames
#using DelimitedFiles
#using CSV
#using XLSX
#using Downloads

‚îå Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
‚îî @ Base loading.jl:1423
ERROR: LoadError: ArgumentError: Package Tables does not have OrderedCollections in its dependencies:
- If you have Tables checked out for development and have
  added OrderedCollections as a dependency but haven't updated your primary
  environment's manifest file, try `Pkg.resolve()`.
- Otherwise you may need to report an issue with Tables
Stacktrace:
 [1] require(into::Module, mod::Symbol)
   @ Base .\loading.jl:980
 [2] include
   @ .\Base.jl:418 [inlined]
 [3] include_package_for_output(pkg::Base.PkgId, input::String, depot_path::Vector{String}, dl_load_path::Vector{String}, load_path::Vector{String}, concrete_deps::Vector{Pair{Base.PkgId, UInt64}}, source::String)
   @ Base .\loading.jl:1318
 [4] top-level scope
   @ none:1
 [5] eval
   @ .\boot.jl:373 [inlined]
 [6] eval(x::Expr)
   @ Base.MainInclude .\client.jl:453
 [7] top-level scope
   @ none:1
in expression starting at C:\Users\PC\.julia\packages\Tables\PxO1m\src\Tables.jl:1
ERROR: LoadError: Failed to precompile Tables [bd369af6-aec1-5ad0-b16a-f7cc5008161c] to C:\Users\PC\.julia\compiled\v1.7\Tables\jl_F16A.tmp.
Stacktrace:
  [1] error(s::String)
    @ Base .\error.jl:33
  [2] compilecache(pkg::Base.PkgId, path::String, internal_stderr::IO, internal_stdout::IO, ignore_loaded_modules::Bool)
    @ Base .\loading.jl:1466
  [3] compilecache(pkg::Base.PkgId, path::String)
    @ Base .\loading.jl:1410
  [4] _require(pkg::Base.PkgId)
    @ Base .\loading.jl:1120
  [5] require(uuidkey::Base.PkgId)
    @ Base .\loading.jl:1013
  [6] require(into::Module, mod::Symbol)
    @ Base .\loading.jl:997
  [7] include
    @ .\Base.jl:418 [inlined]
  [8] include_package_for_output(pkg::Base.PkgId, input::String, depot_path::Vector{String}, dl_load_path::Vector{String}, load_path::Vector{String}, concrete_deps::Vector{Pair{Base.PkgId, UInt64}}, source::String)
    @ Base .\loading.jl:1318
  [9] top-level scope
    @ none:1
 [10] eval
    @ .\boot.jl:373 [inlined]
 [11] eval(x::Expr)
    @ Base.MainInclude .\client.jl:453
 [12] top-level scope
    @ none:1
in expression starting at C:\Users\PC\.julia\packages\PrettyTables\nQZHQ\src\PrettyTables.jl:1
ERROR: LoadError: Failed to precompile PrettyTables [08abe8d2-0d0c-5749-adfa-8a2ac140af0d] to C:\Users\PC\.julia\compiled\v1.7\PrettyTables\jl_EEE9.tmp.
Stacktrace:
  [1] error(s::String)
    @ Base .\error.jl:33
  [2] compilecache(pkg::Base.PkgId, path::String, internal_stderr::IO, internal_stdout::IO, ignore_loaded_modules::Bool)
    @ Base .\loading.jl:1466
  [3] compilecache(pkg::Base.PkgId, path::String)
    @ Base .\loading.jl:1410
  [4] _require(pkg::Base.PkgId)
    @ Base .\loading.jl:1120
  [5] require(uuidkey::Base.PkgId)
    @ Base .\loading.jl:1013
  [6] require(into::Module, mod::Symbol)
    @ Base .\loading.jl:997
  [7] include
    @ .\Base.jl:418 [inlined]
  [8] include_package_for_output(pkg::Base.PkgId, input::String, depot_path::Vector{String}, dl_load_path::Vector{String}, load_path::Vector{String}, concrete_deps::Vector{Pair{Base.PkgId, UInt64}}, source::Nothing)
    @ Base .\loading.jl:1318
  [9] top-level scope
    @ none:1
 [10] eval
    @ .\boot.jl:373 [inlined]
 [11] eval(x::Expr)
    @ Base.MainInclude .\client.jl:453
 [12] top-level scope
    @ none:1
in expression starting at C:\Users\PC\.julia\packages\DataFrames\zqFGs\src\DataFrames.jl:1

LoadError: Failed to precompile DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0] to C:\Users\PC\.julia\compiled\v1.7\DataFrames\jl_EC0E.tmp.

# üóÉÔ∏è Get some data
In Julia, it's pretty easy to dowload a file from the web using the `download` function. But also, you can use your favorite command line commad to download files by easily switching from Julia via the `;` key. Let's try both.

Note: `download` depends on external tools such as curl, wget or fetch. So you must have one of these.

In [2]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

Another way would be to use a shell command to get the same file.

# üìÇ Read your data from text files.
The key question here is to load data from files such as `csv` files, `xlsx` files, or just raw text files. We will go over some Julia packages that will allow us to read such files very easily.

Let's start with the package `DelimitedFiles` which is in the standard library.

In [2]:
#=
readdlm(source, 
    delim::AbstractChar, 
    T::Type, 
    eol::AbstractChar; 
    header=false, 
    skipstart=0, 
    skipblanks=true, 
    use_mmap, 
    quotes=true, 
    dims, 
    comments=false, 
    comment_char='#')
=#
P,H = readdlm("programming_languages.csv",',';header=true);

In [3]:
dictionary1 = Dict("a"=>5, "b"=>3)
DF1 = DataFrame(H[1] => P[:,1],
                H[2] => P[:,2])
DF1[1:10,:]
DF2 = DataFrame(dictionary1)

1√ó2 DataFrame
 Row ‚îÇ a      b
     ‚îÇ Int64  Int64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ     5      3

In [4]:
# To write to a text file, you can:
writedlm("programminglanguages_dlm.txt", P, '-')
KK = readdlm("programminglanguages_dlm.txt")

73√ó3 Matrix{Any}:
 "1951-Regional"          "Assembly"  "Language"
 "1952-Autocode"          ""          ""
 "1954-IPL"               ""          ""
 "1955-\"FLOW-MATIC\""    ""          ""
 "1957-FORTRAN"           ""          ""
 "1957-COMTRAN"           ""          ""
 "1958-LISP"              ""          ""
 "1958-ALGOL"           58            ""
 "1959-FACT"              ""          ""
 "1959-COBOL"             ""          ""
 "1959-RPG"               ""          ""
 "1962-APL"               ""          ""
 "1962-Simula"            ""          ""
 ‚ãÆ
 "2003-Scala"             ""          ""
 "2005-F#"                ""          ""
 "2006-PowerShell"        ""          ""
 "2007-Clojure"           ""          ""
 "2009-Go"                ""          ""
 "2010-Rust"              ""          ""
 "2011-Dart"              ""          ""
 "2011-Kotlin"            ""          ""
 "2011-Red"               ""          ""
 "2011-Elixir"            ""          ""
 "2012-Julia"             ""          ""
 "2014-Swift"             ""          ""

A more powerful package to use here is the `CSV` package. By default, the CSV package imports the data to a DataFrame, which can have several advantages as we will see below.

In general,[`CSV.jl`](https://juliadata.github.io/CSV.jl/stable/) is the recommended way to load CSVs in Julia. Only use `DelimitedFiles` when you have a more complicated file where you want to specify several things.

In [5]:
C = CSV.read("programming_languages.csv", DataFrame);

In [7]:
@show typeof(C)
C[1:10,:]
display(C.language) #[!,:year]

typeof(C) = DataFrame

73-element Vector{String31}:
 "Regional Assembly Language"
 "Autocode"
 "IPL"
 "FLOW-MATIC"
 "FORTRAN"
 "COMTRAN"
 "LISP"
 "ALGOL 58"
 "FACT"
 "COBOL"
 "RPG"
 "APL"
 "Simula"
 ‚ãÆ
 "Scala"
 "F#"
 "PowerShell"
 "Clojure"
 "Go"
 "Rust"
 "Dart"
 "Kotlin"
 "Red"
 "Elixir"
 "Julia"
 "Swift"

In [8]:
@show typeof(P)
P[1:10,:]

typeof(P) = Matrix{Any}

10√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [9]:
names(C)
names(DF2)

2-element Vector{String}:
 "a"
 "b"

In [10]:
names(C)
C.year
C.language
describe(C)

2√ó7 DataFrame
 Row ‚îÇ variable  mean     min       median  max        nmissing  eltype
     ‚îÇ Symbol    Union‚Ä¶   Any       Union‚Ä¶  Any        Int64     DataType
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ year      1982.99  1951      1986.0  2014              0  Int64
   2 ‚îÇ language           ALGOL 58          dBase III         0  String31

In [11]:
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  360.700 Œºs (2438 allocations: 111.08 KiB)
  426.000 Œºs (258 allocations: 46.23 KiB)

In [12]:
# To write to a *.csv file using the CSV package
CSV.write("programminglanguages_CSV.csv", DataFrame(P, :auto))
CSV.write("ab.csv", DataFrame(DF2))

"ab.csv"

Another type of files that we may often need to read is `XLSX` files. Let's try to read a new file.

In [6]:
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )
DF3 = DataFrame(T, :auto)

9√ó6 DataFrame
 Row ‚îÇ x1        x2            x3            x4        x5       x6
     ‚îÇ Any       Any           Any           Any       Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 ‚îÇ 6181      New York      New York      1         missing  missing
   3 ‚îÇ 12447     Los Angeles   California    2         1446     1705
   4 ‚îÇ 39051     Houston       Texas         3         2926     3121
   5 ‚îÇ 17426     Chicago       Illinois      4         2910     3022
   6 ‚îÇ 6915      San Antonio   Texas         5         1479     1529
   7 ‚îÇ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 ‚îÇ 40326     Phoenix       Arizona       7         1310     1519
   9 ‚îÇ 18959     Las Vegas     Nevada        8         1618     1856

If you don't want to specify cell ranges... though this will take a little longer...

In [8]:
G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city");

Here, `G` is a tuple of two items. The first is an vector of vectors where each vector corresponds to a column in the excel file. And the second is the header with the column names.

In [9]:
DF4 = DataFrame(G[1],G[2])
#@show typeof(G)
describe(DF4)

148√ó7 DataFrame
 Row ‚îÇ variable    mean     min         median   max      nmissing  eltype
     ‚îÇ Symbol      Union‚Ä¶   Any         Union‚Ä¶   Any      Int64     DataType
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ RegionID    67674.4  3299        33866.0  760887          0  Any
   2 ‚îÇ RegionName           Aaronsburg           Zwolle          0  Any
   3 ‚îÇ StateName            Alabama              Wyoming         0  Any
   4 ‚îÇ SizeRank    14380.0  1           14380.0  28759           0  Any
   5 ‚îÇ 2008-03     7.35599  0           1.0      2926          598  Any
   6 ‚îÇ 2008-04     8.17862  0           1.0      3121          598  Any
   7 ‚îÇ 2008-05     8.69831  0           1.0      3220          598  Any
   8 ‚îÇ 2008-06     9.19296  0           1.0      3405          597  Any
   9 ‚îÇ 2008-07     9.44435  0           1.0      3464          594  Any
  10 ‚îÇ 2008-08     8.73809  0           1.0      3371          589  Any
  11 ‚îÇ 2008-09     8.31859  0           1.0      2979          582  Any
  ‚ãÆ  ‚îÇ     ‚ãÆ          ‚ãÆ         ‚ãÆ          ‚ãÆ        ‚ãÆ        ‚ãÆ         ‚ãÆ
 139 ‚îÇ 2019-05     16.4563  0           2.0      3898          106  Any
 140 ‚îÇ 2019-06     15.9575  0           2.0      3900          144  Any
 141 ‚îÇ 2019-07     16.9885  0           2.0      4493          184  Any
 142 ‚îÇ 2019-08     18.2185  0           3.0      4266         3022  Any
 143 ‚îÇ 2019-09     17.3083  0           3.0      4183         5504  Any
 144 ‚îÇ 2019-10     19.6023  0           4.0      4232         7287  Any
 145 ‚îÇ 2019-11     17.57    0           4.0      3869         8950  Any
 146 ‚îÇ 2019-12     19.7247  0           4.0      3938        10273  Any
 147 ‚îÇ 2020-01     16.7886  0           4.0      4306        11839  Any
 148 ‚îÇ 2020-02     18.547   0           3.0      4054        15963  Any
                                                             127 rows omitted

In [16]:
G[1][1][1:10]

10-element Vector{Any}:
  6181
 12447
 39051
 17426
  6915
 13271
 40326
 18959
 54296
 38128

In [40]:
G[2][1:10]
G[2][:]

148-element Vector{Symbol}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")
 Symbol("2008-09")
 Symbol("2008-10")
 Symbol("2008-11")
 ‚ãÆ
 Symbol("2019-03")
 Symbol("2019-04")
 Symbol("2019-05")
 Symbol("2019-06")
 Symbol("2019-07")
 Symbol("2019-08")
 Symbol("2019-09")
 Symbol("2019-10")
 Symbol("2019-11")
 Symbol("2019-12")
 Symbol("2020-01")
 Symbol("2020-02")

And we can easily store this data in a DataFrame. `DataFrame(G...)` uses the "splat" operator to _unwrap_ these arrays and pass them to the DataFrame constructor.

In [10]:
D = DataFrame(G...) # equivalent to DataFrame(G[1],G[2])

28759√ó148 DataFrame
   Row ‚îÇ RegionID  RegionName                  StateName      SizeRank  2008-0 ‚ãØ
       ‚îÇ Any       Any                         Any            Any       Any    ‚ãØ
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
     1 ‚îÇ 6181      New York                    New York       1         missin ‚ãØ
     2 ‚îÇ 12447     Los Angeles                 California     2         1446
     3 ‚îÇ 39051     Houston                     Texas          3         2926
     4 ‚îÇ 17426     Chicago                     Illinois       4         2910
     5 ‚îÇ 6915      San Antonio                 Texas          5         1479   ‚ãØ
     6 ‚îÇ 13271     Philadelphia                Pennsylvania   6         1609
     7 ‚îÇ 40326     Phoenix                     Arizona        7         1310
     8 ‚îÇ 18959     Las Vegas                   Nevada         8         1618
     9 ‚îÇ 54296     San Diego                   California     9         772    ‚ãØ
    10 ‚îÇ 38128     Dallas                      Texas          10        1158
    11 ‚îÇ 10221     Austin                      Texas          11        997
   ‚ãÆ   ‚îÇ    ‚ãÆ                  ‚ãÆ                     ‚ãÆ           ‚ãÆ         ‚ãÆ   ‚ã±
 28750 ‚îÇ 396952    Barnard Plantation          Maine          28750     0
 28751 ‚îÇ 397236    Windsor Place               Missouri       28751     0      ‚ãØ
 28752 ‚îÇ 398030    Stockbridge                 Wisconsin      28752     0
 28753 ‚îÇ 398104    Mattamiscontis              Maine          28753     0
 28754 ‚îÇ 398357    Chase Stream                Maine          28754     0
 28755 ‚îÇ 398712    Bowdoin College Grant West  Maine          28755     0      ‚ãØ
 28756 ‚îÇ 398716    Summerset                   South Dakota   28756     0
 28757 ‚îÇ 399081    Long Pond                   Maine          28757     0
 28758 ‚îÇ 737789    Hideout                     Utah           28758     1
 28759 ‚îÇ 760882    Ebeemee                     Maine          28759     0      ‚ãØ
                                              144 columns and 28738 rows omitted

In [11]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
colors = ["red", "green", "red", "yellow"]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)
dataframe_color = DataFrame(item=foods,color=colors)
#println(dataframe_calories,dataframe_prices,dataframe_color)

4√ó2 DataFrame
 Row ‚îÇ item      color
     ‚îÇ String    String
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple     red
   2 ‚îÇ cucumber  green
   3 ‚îÇ tomato    red
   4 ‚îÇ banana    yellow

In [12]:
DF = innerjoin(dataframe_calories,dataframe_prices, dataframe_color, on=:item) #Concatenate missing dataframes

4√ó4 DataFrame
 Row ‚îÇ item      calories  price    color
     ‚îÇ String    Int64     Float64  String
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple          105     0.85  red
   2 ‚îÇ cucumber        47     1.6   green
   3 ‚îÇ tomato          22     0.8   red
   4 ‚îÇ banana         105     0.6   yellow

In [13]:
# we can also use the DataFrame constructor on a Matrix
DataFrame(T, :auto)

9√ó6 DataFrame
 Row ‚îÇ x1        x2            x3            x4        x5       x6
     ‚îÇ Any       Any           Any           Any       Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 ‚îÇ 6181      New York      New York      1         missing  missing
   3 ‚îÇ 12447     Los Angeles   California    2         1446     1705
   4 ‚îÇ 39051     Houston       Texas         3         2926     3121
   5 ‚îÇ 17426     Chicago       Illinois      4         2910     3022
   6 ‚îÇ 6915      San Antonio   Texas         5         1479     1529
   7 ‚îÇ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 ‚îÇ 40326     Phoenix       Arizona       7         1310     1519
   9 ‚îÇ 18959     Las Vegas     Nevada        8         1618     1856

You can also easily write data to an XLSX file

In [53]:
# if you already have a dataframe: 
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
XLSX.writetable("writefile_using_XLSX.xlsx",G[1],G[2])

In [58]:
XLSX.writetable("Items1.xlsx",DF)

In [57]:
DF_items = XLSX.readtable("Items.xlsx")

LoadError: MethodError: no method matching readtable(::String)
Closest candidates are:
  readtable(::AbstractString, ::Union{Int64, AbstractString}; first_row, column_labels, header, infer_eltypes, stop_in_empty_row, stop_in_row_function, enable_cache) at C:\Users\PC\.julia\packages\XLSX\E1Mu6\src\read.jl:576
  readtable(::AbstractString, ::Union{Int64, AbstractString}, ::Union{XLSX.ColumnRange, AbstractString}; first_row, column_labels, header, infer_eltypes, stop_in_empty_row, stop_in_row_function, enable_cache) at C:\Users\PC\.julia\packages\XLSX\E1Mu6\src\read.jl:583

## ‚¨áÔ∏è Importing your data

Often, the data you want to import is not stored in plain text, and you might want to import different kinds of types. Here we will go over importing `jld`, `npz`, `rda`, and `mat` files. Hopefully, these four will capture the types from four common programming languages used in Data Science (Julia, Python, R, Matlab).

We will use a toy example here of a very small matrix. But the same syntax will hold for bigger files.

```
4√ó5 Array{Int64,2}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761
 ```

In [23]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
save("mywrite.jld", "A", jld_data)

In [24]:
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("mywrite.npz", npz_data)

In [25]:
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"

RObject{NilSxp}
NULL

In [26]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("mywrite.mat",Matlab_data)

In [27]:
@show typeof(jld_data)
@show typeof(npz_data)
@show typeof(R_data)
@show typeof(Matlab_data)
;

typeof(jld_data) = Dict{String, Any}
typeof(npz_data) = Matrix{Int64}
typeof(R_data) = Dict{String, Any}
typeof(Matlab_data) = Dict{String, Any}

In [28]:
Matlab_data

Dict{String, Any} with 1 entry:
  "tempdata" => [2 1446 ‚Ä¶ 1795 1890; 3 2926 ‚Ä¶ 3220 3405; 4 2910 ‚Ä¶ 2937 3224; 5 ‚Ä¶

# üî¢ Time to process the data from Julia
We will mainly cover `Matrix` (or `Vector`), `DataFrame`s, and `dict`s (or dictionaries). Let's bring back our programming languages dataset and start playing it the matrix it's stored in.

In [63]:
P
#dictionary1 = Dict("a"=>5, "b"=>3)
dictionary2 = Dict("year"=>P[:,1], "language"=>P[:,2])
#sintax to create a DF with a matrix is DataFrame(Matrix, :auto)
P_df = DataFrame(dictionary2)

73√ó2 DataFrame
 Row ‚îÇ language                    year
     ‚îÇ Any                         Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Regional Assembly Language  1951
   2 ‚îÇ Autocode                    1952
   3 ‚îÇ IPL                         1954
   4 ‚îÇ FLOW-MATIC                  1955
   5 ‚îÇ FORTRAN                     1957
   6 ‚îÇ COMTRAN                     1957
   7 ‚îÇ LISP                        1958
   8 ‚îÇ ALGOL 58                    1958
   9 ‚îÇ FACT                        1959
  10 ‚îÇ COBOL                       1959
  11 ‚îÇ RPG                         1959
  ‚ãÆ  ‚îÇ             ‚ãÆ                ‚ãÆ
  64 ‚îÇ PowerShell                  2006
  65 ‚îÇ Clojure                     2007
  66 ‚îÇ Go                          2009
  67 ‚îÇ Rust                        2010
  68 ‚îÇ Dart                        2011
  69 ‚îÇ Kotlin                      2011
  70 ‚îÇ Red                         2011
  71 ‚îÇ Elixir                      2011
  72 ‚îÇ Julia                       2012
  73 ‚îÇ Swift                       2014
                         52 rows omitted

In [18]:
DATA[:,2]

73-element Vector{Any}:
 "Regional Assembly Language"
 "Autocode"
 "IPL"
 "FLOW-MATIC"
 "FORTRAN"
 "COMTRAN"
 "LISP"
 "ALGOL 58"
 "FACT"
 "COBOL"
 "RPG"
 "APL"
 "Simula"
 ‚ãÆ
 "Scala"
 "F#"
 "PowerShell"
 "Clojure"
 "Go"
 "Rust"
 "Dart"
 "Kotlin"
 "Red"
 "Elixir"
 "Julia"
 "Swift"

Here are some quick questions we might want to ask about this simple data.
- Which year was was a given language invented?
- How many languages were created in a given year?

In [12]:
# Q1: Which year was was a given language invented?
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end
year_created(P,"Julia")

function languaje_by_year(DATA, year::Int64) 
    loc = findfirst(DATA[:,1] .== year) #I did it as a matrix but there is another sintaxis for dataframes
    return P[loc,2]
end
languaje_by_year(P,1962) #this function returns the first languaje made in that year if there are more than one

LoadError: type Array has no field year

In [31]:
year_created(P,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [32]:
function year_created_handle_error(P,language::String)
    loc = findfirst(P[:,2] .== language)
    !isnothing(loc) && return P[loc,1]
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

LoadError: Error: Language not found.

In [33]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P,year::Int64)
    year_count = length(findall(P[:,1].==year))
    return year_count
end
how_many_per_year(P,2011)

4

Now let's try to store this data in a DataFrame...

In [43]:
#P_df = DATA #DataFrame(year = P[:,1], language = P[:,2]) # or DataFrame(P)

In [42]:
# Even better, since we know the types of each column, we can create the DataFrame as follows:
# P_df = DataFrame(year = Int.(P[:,1]), language = string.(P[:,2]))

And now let's answer the same questions we just answered...

In [33]:
# Q1: Which year was was a given language invented?
# it's a little more intuitive and you don't need to remember the column ids
#function year_created(P_df,language::String)
#    loc = findfirst(P_df.language .== language)
#    return P_df.year[loc]
#end
#year_created(P_df,"Julia")

function languages_by_year(DATA, year::Int64)
    loc = findall(DATA.year .== year)
    return DATA.language[loc]
end
languages_by_year(DATA, 1962)
#this is the sintaxis for DataFrames

3-element Vector{Any}:
 "APL"
 "Simula"
 "SNOBOL"

In [37]:
year_created(P_df,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [38]:
function year_created_handle_error(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    !isnothing(loc) && return P_df.year[loc]
    error("Error: Language not found.")
end
year_created_handle_error(P_df,"W")

LoadError: Error: Language not found.

In [39]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P_df,year::Int64)
    year_count = length(findall(P_df.year.==year))
    return year_count
end
how_many_per_year(P_df,2011)

4

Next, we'll use dictionaries. A quick way to create a dictionary is with the `Dict()` command. But this creates a dictionary without types. Here, we will specify the types of this dictionary.

In [40]:
# A quick example to show how to build a dictionary
Dict([("A", 1), ("B", 2),(1,[1,2])])

Dict{Any, Any} with 3 entries:
  "B" => 2
  "A" => 1
  1   => [1, 2]

In [49]:
P_dictionary = Dict{Integer,Vector{String}}()
#dictionary2 = Dict{Integer, Vector{String}}()
#dictionary2 = Dict("year"=>P[:,1], "language"=>P[:,2])
#DATA = DataFrame(dictionary2)

Dict{Integer, Vector{String}}()

In [53]:
P_dictionary[67] = ["julia","programming"]

2-element Vector{String}:
 "julia"
 "programming"

In [43]:
# this is not going to work.
P_dictionary["julia"] = 7

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Integer
Closest candidates are:
  convert(::Type{T}, ::Base.TwicePrecision) where T<:Number at twiceprecision.jl:250
  convert(::Type{T}, ::AbstractChar) where T<:Number at char.jl:180
  convert(::Type{T}, ::CartesianIndex{1}) where T<:Number at multidimensional.jl:136
  ...

Now, let's populate the dictionary with years as keys and vectors that hold all the programming languages created in each year as their values. Even though this looks like more work, we often need to do it just once.

In [59]:
dict = Dict{Integer,Vector{String}}()
for i = 1:size(P,1)
    year,lang = P[i,:]
    if year in keys(dict)
        dict[year] = push!(dict[year],lang) 
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        dict[year] = [lang]
    end
end
dict

Dict{Integer, Vector{String}} with 45 entries:
  1985 => ["Eiffel"]
  2002 => ["Scratch"]
  1952 => ["Autocode"]
  1963 => ["CPL"]
  1964 => ["Speakeasy", "BASIC", "PL/I"]
  1967 => ["BCPL"]
  2001 => ["C#", "D"]
  1991 => ["Python", "Visual Basic"]
  1957 => ["FORTRAN", "COMTRAN"]
  1988 => ["Tcl", "Wolfram Language "]
  1955 => ["FLOW-MATIC"]
  1951 => ["Regional Assembly Language"]
  1994 => ["CLOS "]
  2011 => ["Dart", "Kotlin", "Red", "Elixir"]
  1959 => ["FACT", "COBOL", "RPG"]
  1962 => ["APL", "Simula", "SNOBOL"]
  2005 => ["F#"]
  1969 => ["B"]
  1972 => ["C", "Smalltalk", "Prolog"]
  1997 => ["Rebol"]
  1986 => ["Objective-C", "LabVIEW ", "Erlang"]
  1993 => ["Lua", "R"]
  1958 => ["LISP", "ALGOL 58"]
  1987 => ["Perl"]
  1954 => ["IPL"]
  ‚ãÆ    => ‚ãÆ

In [66]:
# Though a smarter way to do this is:
curyear = P_df.year[1]
P_dictionary[curyear] = [P_df.language[1]]
for (i,nextyear) in enumerate(P_df.year[2:end])
    if nextyear == curyear
        #same key
        P_dictionary[curyear] = push!(P_dictionary[curyear],P_df.language[i+1])
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        curyear = nextyear
        P_dictionary[curyear] = [P_df.language[i+1]]
    end
end

In [68]:
length(keys(P_dictionary))

46

In [69]:
length(unique(P[:,1]))

45-element Vector{Any}:
 1951
 1952
 1954
 1955
 1957
 1958
 1959
 1962
 1963
 1964
 1966
 1967
 1968
    ‚ãÆ
 2000
 2001
 2002
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2012
 2014

In [72]:
# Q1: Which year was was a given language invented?
# now instead of looking in one long vector, we will look in many small vectors
function year_created(P_dictionary,language::String)
    keys_vec = collect(keys(P_dictionary))
    lookup = map(keyid -> findfirst(P_dictionary[keyid].==language),keys_vec)
    # now the lookup vector has `nothing` or a numeric value. We want to find the index of the numeric value.
    return keys_vec[findfirst((!isnothing).(lookup))]
end
year_created(P_dictionary,"Julia")

2012

In [49]:
# Q2: How many languages were created in a given year?
how_many_per_year(P_dictionary,year::Int64) = length(P_dictionary[year])
how_many_per_year(P_dictionary,2011)

4

# üìù A note about missing data

In [76]:
# assume there were missing values in our dataframe
P[1,1] = missing
P_df = DataFrame(year = P[:,1], language = P[:,2])

73√ó2 DataFrame
 Row ‚îÇ year     language
     ‚îÇ Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ missing  Regional Assembly Language
   2 ‚îÇ 1952     Autocode
   3 ‚îÇ 1954     IPL
   4 ‚îÇ 1955     FLOW-MATIC
   5 ‚îÇ 1957     FORTRAN
   6 ‚îÇ 1957     COMTRAN
   7 ‚îÇ 1958     LISP
   8 ‚îÇ 1958     ALGOL 58
   9 ‚îÇ 1959     FACT
  10 ‚îÇ 1959     COBOL
  11 ‚îÇ 1959     RPG
  ‚ãÆ  ‚îÇ    ‚ãÆ                 ‚ãÆ
  64 ‚îÇ 2006     PowerShell
  65 ‚îÇ 2007     Clojure
  66 ‚îÇ 2009     Go
  67 ‚îÇ 2010     Rust
  68 ‚îÇ 2011     Dart
  69 ‚îÇ 2011     Kotlin
  70 ‚îÇ 2011     Red
  71 ‚îÇ 2011     Elixir
  72 ‚îÇ 2012     Julia
  73 ‚îÇ 2014     Swift
                            52 rows omitted

In [51]:
dropmissing(P_df)

72√ó2 DataFrame
 Row ‚îÇ year  language
     ‚îÇ Any   Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 1952  Autocode
   2 ‚îÇ 1954  IPL
   3 ‚îÇ 1955  FLOW-MATIC
   4 ‚îÇ 1957  FORTRAN
   5 ‚îÇ 1957  COMTRAN
   6 ‚îÇ 1958  LISP
   7 ‚îÇ 1958  ALGOL 58
   8 ‚îÇ 1959  FACT
   9 ‚îÇ 1959  COBOL
  10 ‚îÇ 1959  RPG
  11 ‚îÇ 1962  APL
  ‚ãÆ  ‚îÇ  ‚ãÆ        ‚ãÆ
  63 ‚îÇ 2006  PowerShell
  64 ‚îÇ 2007  Clojure
  65 ‚îÇ 2009  Go
  66 ‚îÇ 2010  Rust
  67 ‚îÇ 2011  Dart
  68 ‚îÇ 2011  Kotlin
  69 ‚îÇ 2011  Red
  70 ‚îÇ 2011  Elixir
  71 ‚îÇ 2012  Julia
  72 ‚îÇ 2014  Swift
         51 rows omitted

# Finally...
After finishing this notebook, you should be able to:
- [ ] dowload a data file from the web given a url
- [ ] load data from a file from a text file via DelimitedFiles or CSV
- [ ] write your data to a text file or csv file
- [ ] load data from file types xlsx, jld, npz, mat, rda
- [ ] write your data to an xlsx file, jld, npz, mat, rda
- [ ] store data in a 2D array (`Matrix`), or `DataFrame` or `Dict`
- [ ] write functions to perform basic lookups on `Matrix`, `DataFrame`, and `Dict` types
- [ ] use some of the basic functions on `DataFrame`s such as: `dropmissing`, `describe`, `by`, and `join`

# ü•≥ One cool finding

Julia was created in 2012